<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <app-post></app-post>
        </div>
        <div class="col-6">
            <app-comment></app-comment>
        </div>
    </div>
</div> -->
<!-- <ul class="nav">
    <li class="nav-item">
        <a  [ngClass]="{ active: router.url.includes('/comments') }" routerLink="/comments" >Load Comments</a>
    </li>
    <li class="nav-item">
        <a [ngClass]="{ active: router.url.includes('/posts') }" routerLink="/posts" routerLinkActive="active">Load posts</a>
    </li>
   
  </ul> -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/comments" routerLinkActive="active">Load Comments</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/posts" routerLinkActive="active">Load posts</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a> 
        </li>-->
      </ul>
    </div>
  </nav>
<div class="container">
    <!-- <div class="row">
        <div class="col-6">
            <a class = "nav-link"routerLink="/comments" routerLinkActive="active">Load Comments</a>
        </div>
        <div class="col-6">
            <a class = "nav-link" routerLink="/posts" routerLinkActive="active">Load posts</a>
        </div>
    </div> -->

    <div class="row mt-2">
        <div class="col-12">
            <router-outlet />
        </div>
    </div>

</div>